.toggle-option {
  color: rgba(255, 255, 255, 0.8);
  padding: 12px 26px;
  background: none;
  border: none;
  font-size: 0.75rem;
  cursor: pointer;
  transition: color .2s;
  position: relative;
  font-weight: bold;
  font-family: Arial, sans-serif;

  &.selected {
    color: #003145;
  }

  &:focus {
    outline: none;
  }
}
