.toggle-option {
  color: rgba(255, 255, 255, 0.8);
  padding: 14px 20px;
  background: none;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  transition: color .3s;
  position: relative;

  &.selected {
    color: #01579B;
  }

  &:focus {
    outline: none;
  }
}
